<body class='main'>
<div>
    <div class="float-right text-right text-white text-warning mx-5" style='font-family: Comfortaa, cursive; font-size: 2rem; width: 300px;'>Your source for vintage treasures and really strange art.</div>
    <div class='d-block text-white mx-auto' style='font-family: Comfortaa, cursive; font-size: 5rem; width: 80%; margin-top: 400px;'>Welcome to Faust Furniture</div>



    <%= link_to "Browse Current Inventory", products_list_path, class: "d-block btn btn-light mx-auto w-25" %>
</div>

</body>





